@page
@model AspNet_RazorWebPages.GallerySample1Model
@{
    ViewData["Title"] = "GallerySample1";
}

<h1>GallerySample1</h1>
<p>Sample 1:</p>

<div class="row">
    @foreach (var item in Model.Bilder)
    {
        <div class="col-12 col-md-4">
            <img class="img-fluid" src="/images/@System.IO.Path.GetFileName(item)" />
        </div>
    }

</div>
