@page
@model AspNet_RazorWebPages.GallerySample2Model
@{
    ViewData["Title"] = "GallerySample2";
}

<h1>GallerySample2</h1>

@foreach (var item in Model.Bilder)
{
    <div class="col-12 col-md-4">
        @*<img class="img-fluid" src="/images/@System.IO.Path.GetFileName(item)" />*@
        <a href="/images/@System.IO.Path.GetFileName(item)">
            @*<img class="img-fluid" src="/imagegen?img=@System.IO.Path.GetFileName(item)" />*@
            <img class="img-fluid" src="/images/@System.IO.Path.GetFileName(item)" />
        </a>
    </div>
}