@page
@model AspNet_RazorWebPages.IndexBModel
@{
    ViewData["Title"] = "IndexB";
}

<h1>IndexB</h1>


@(Model.MyProperty), dsdsdfsdfasdf

<div style='@(Model.MyProperty==7?"background-color:yellow":"background-color:orange")'>demo</div>

@if (Model.MyProperty == 7)
{
    <div style='background-color:green'>demo</div>
}
else
{
    <div style='background-color:blue'>demo</div>
}

@for (int i = 0; i < 7; i++)
{
    @DateTime.Now.AddDays(i).ToString("dddd");
    <br/>
}
<hr />

@section Scripts
{
    <script>
        $('h1').text('Hallo liebe Teilnehmer');
    </script>
}

